<div class="nav-tabs-custom">
    <!-- Tabs within a box -->
    <ul class="nav nav-tabs pull-right ui-sortable-handle">
        <li class="active"><a data-toggle="tab" href="#{{device.id}}-config" aria-expanded="false">Config</a></li>
        <li class=""><a data-toggle="tab" href="#{{device.id}}-chart" aria-expanded="true">Chart</a></li>
        <li class="pull-left header"><i class="fa fa-mobile"></i>{{device.name}} - {{device.location.name}}</li>
    </ul>
    <div class="tab-content">
        <div id="{{device.id}}-config" class="tab-pane active">
            <form role="form">
                <div class="row">
                    <div class="col-md-6 border-right">
                        <h4>Scheduler</h4>
                        <div class="form-group">
                            <label>Turn on at:</label>
                            <div class="input-group">
                                <input type="text" class="form-control timepicker">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Turn off at:</label>
                            <div class="input-group">
                                <input type="text" class="form-control timepicker">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4>Actions</h4>
                        <label class="col-sm-4 control-label">Enabled</label>
                        <div class="col-sm-8">
                            <label>
                        <input type="checkbox" name="enabled" [(ngModel)]="device.configuration.enabled" (ngModelChange)="onStateChanged($event)">
                        {{device.configuration.enabled ? 'ON' : 'OFF'}}
                    </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="{{device.id}}-chart" class="tab-pane">
            <canvas chart [points]="points"></canvas>
        </div>
    </div>
</div>